body {
  background-color: #e6ebf4;
  font-family: Helvetica;
  text-align: center;
 
}

h1 {
  color: #222223;
  font-size: 300%;
  text-align: center;
  font-family: Courier;
  padding-top: 30px;
  
}


.backgroundImg {
  float: left;
  display: inline-block;
  
}
.backgroundImg1 {
  float: left;
  display: inline-block;
  margin: 885px 0px 0px -299px;
  padding-right: 30px;
}

.backgroundImg2 {
  float: left;
  display: inline-block;
  margin: 1772px 0px 0px -329px;
  padding-right: 37x;
}

.backgroundImg3 {
  float: left;
  display: inline-block;
  margin: 2660px 50px 0px -329px;
  padding-right: 30px;
}

.backgroundImg4 {
  float: left;
  display: inline-block;
  margin: 3549px 0px 0px -379px;
  padding-right: 30px;
}


h2 {
  font-family: Courier;
  size: 200px;
}

.introP {
  width: 900px;
  margin-left: 370px;

}

.introImg {
  border: 2px solid black;
}

.study {
  size: 500px;
}


.mid {
  font-weight: heavy;
  font-size: 150%;
  line-height: 1px;
  color: #b5b5bf;
}

a {
  font-size: 120%;
  color: #c67995;
  }


i {
    border: solid black;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
    margin: 0px 0px 0px 0px;
}

.right {
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
}

.arrow {
  margin: -110px 0px 50px 0px;
}


.thinsection {
  height: 100px;
  float: center;
  margin: -150px 0px 0px -270px;
  border: 2px solid black;
}

.bone {
  height: 100px;
  float: center;
  margin: -115px -300px 0px 0px;
  border: 3px solid;
  padding: 3px;
}


.materials {
  margin: 0px 0px 0px 0px;
}

h3 {
  margin: 20px 0px 300px 0px;
}

.studyList {
  width: 200px;
  margin: -280px 400px -0px 0px;
  float: right;
}

.charList {
  width: 200px;
  margin: 0px 400px 0px 0px;
  float: right;
  display: inline;
}

.medullaryDiv {
  margin: 150px 0px 0px 0px;
}

.characteristicsP {
  width: 900px;
  margin-left: 370px;
}

.characteristics4 {
  border: 3px solid;
  width: 600px;
  margin: 10px 0px;
}

#vasculatureImg {
  width: 800px;
}

#turtleImg {
  float: right;
  width: 600px;
}

h5 {
  text-align: left;
  margin-left:50px;
}

.results {
  text-aling: left;
}

#turtleImg {
  float: right;
  width: 330px;
  margin: -60px 40px 0px 0px;
  border: 2px solid black;
}

#crocImg {
  float: right;
  width: 330px;
  border: 2px solid black;
  margin: 0px 40px;
}
